
div.comment  { display: table; border-collapse: separate; border-spacing: 5px 5px; }
p.comment     { display: table-row;  }
label.comment { display: table-cell; vertical-align: top; }
label.validation-error { display: table-cell; vertical-align: top; color: red }
div.validated-input { display: table-cell; }
div.form-button { display: table-cell; }
